<div class="d-flex justify-content-center">
    <h1>Sensors</h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div>
        <input class="form-check-input" type="checkbox" value="" id="refreshModeChange" [(ngModel)]="manualRefreshMode" (click)="switchMode()">
        <label class="form-check-label" for="refreshModeChange">
            Manual refresh&nbsp;
        </label>
    </div>
    <button *ngIf="manualRefreshMode" class="btn btn-secondary" (click)="refresh()">Refresh</button>
</div>
<div class="p-2">
    <div *ngIf="rows && rows.length > 0">
        <div class="row" *ngFor="let row of rows">
            <div class="col-2" *ngFor="let sensor of row">
                <div class="border border-secondary rounded-sm p-2">
                    <span><a [routerLink]="['/sensor/' + sensor.key]">{{sensor.key}}:</a></span> <b
                        class="float-right">{{sensor.value}}</b>
                </div>
            </div>
        </div>
    </div>
</div>