<div *ngIf="sensor">
    <div class="d-flex justify-content-center">
        <h1>Sensor: {{sensor.key}}</h1>
    </div>
    <hr>
    <div class="row pr-2">
        <div class="col-2">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-1">
                    <b>Key:</b>
                </div>
                <div class="col-11">
                    <input class="form-control" readonly [value]="sensor.key">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-1">
                    <b>Value:</b>
                </div>
                <div class="col-11">
                    <input class="form-control" readonly [value]="sensor.value">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-1">
                    <b>Time:</b>
                </div>
                <div class="col-11">
                    <input class="form-control" readonly [value]="sensor.time">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-1">
                    <b>Description:</b>
                </div>
                <div class="col-11">
                    <textarea class="form-control" readonly>{{sensor.description}}
                    </textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-1">
                </div>
                <div class="col">
                    <a class="btn btn-outline-dark" routerLink="/sensors/list">Back to Sensors</a>
                </div>
            </div>
        </div>
    </div>
</div>